// Theme's Palette
@import("C:/Users/GDXY-002/Desktop/blog/node_modules/@vuepress/theme-blog/styles/palette.styl")

// User's Palette
@import("C:/Users/GDXY-002/Desktop/blog/blog/.vuepress/styles/palette.styl")