// Theme's Styles
@import("C:/Users/GDXY-002/Desktop/blog/node_modules/@vuepress/theme-blog/styles/index.styl")

// User's Styles
@import("C:/Users/GDXY-002/Desktop/blog/blog/.vuepress/styles/index.styl")