<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">

        <ul>
            <li v-for="item in items" :key="item.label">{{item.label}}</li>
        </ul>
        <button @click="addList">修改数组</button>

        <h4>数组更新检测-不能监听的情况</h4>

        <ul>
            <li v-for="(item,index) in arr" :key="index">{{item}}</li>
        </ul>

        <button @click="indexesEvent">利用索引直接设置一个数组项</button>
        <button @click="lengthEvent">修改数组长度</button>

        



    </div>
    <script>
         const app = new Vue({
            el:'#app',
            data:{
                items:[
                    { label:'vue' },
                    { label:'react' },
                    { label:'jquery' },
                ],
                arr:['a','b','c','d']
            },
            methods:{
                addList(){
                    this.items.unshift({ label:'node' })
                },
                indexesEvent(){
                    this.arr[0] = '修改';
                    console.log(this.arr);
                },
                lengthEvent(){
                    this.arr.length = 2;
                    console.log(this.arr);
                },

            }
        })


    </script>
</body>
</html>