.div1{
    width:200px;
    height:200px;
    border:1px solid red;
}
.img1{
    background:url('../assets/1.jpg') no-repeat;
    background-size:cover;
}
.img2{
    background:url('../assets/2.jpg') no-repeat;
    background-size:cover;
}